{% extends "articles/base.html" %}

{% block content %}
<div class="container article-content-inner">
    <div class="row">
        <div class="col-sm-12">
            <div class="article-header">
                <header>
                    <div id="adv_text" class="adv-heading"></div>
                    <h1>Tesla Unveils 2 Mind-Blowing New Vehicles -- What You Need to Know</h1>
                    <!--<h2>You won't believe the specs on these new all-electric vehicles. </h2>-->
                </header>
            </div>
        </div>
    </div>
    <div class="row">
        <main class="col-sm-7 col-md-8">
            <div class="author-tagline author-inline">
                <div class="author-and-date">
                    <div class="author-byline">
                      {% for author in article.authors.all %}
                      <div class="author-name"> {{author.first_name}} {{author.last_name}} </div>
                      <div class="author-username">
                          (<a href="{% url 'articles:author' author.uuid %}"> {{author.username}}</a>)
                      </div>
                      {% endfor %}
                    </div>
                    <div class="article-pub-date">
                        <div class="publication-date">
                            {{article.publish_at}}
                        </div>
                    </div>
                </div>
            </div>
            <section class="article-body">
                <div class="article-content">
                  {{article.body |safe }}
                </div>
                <div class="article-disclosure">
                    <p>{{article.disclosure | safe}}</p>
                </div>
                <div class="special-message">
                    <h5>{{article.byline}}</h5>
                    {% for author in article.authors.all %}
                      <p>{{ author.short_bio | safe }}</p>
                    {% endfor %}
                </div>
            </section>
            <button class="btn" id="showcomment" >Add Comment</button>
            <div id="formarea">
              <h1>New comment</h1>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
          </div>
            <hr>
            <ul class="list-group">
            {% for comment in comments %}
              <li class="list-group-item comment"><div class="commentdiv">
                  <div class="date">{{ comment.created }}</div>
                  <p>{{ comment.body|linebreaks }}</p>
              </div></li>
            {% empty %}
            </ul>
                <p>No comments here yet :(</p>
            {% endfor %}
        </main>
        <aside class="col-sm-5 col-md-4 p-l">
            <section class="related-tickers">
              <div class="block-title">
                  <hr><h2>Stocks <button class="btn" id="refreshstocks" > New Stocks</button></h2>
              </div>
              <div class="ticker-row" id="ticker-row">
                <!--  This id added via javascript-->
                  </div>
            </section>
            <section class="read-more-section">
                <div class="block-title">
                    <hr><h2>Read More</h2>
                </div>
                <ul class="two-line-list">
                  {% for article in suggested_articles %}
                    <li><a  href="{% url 'articles:article' article.uuid %}">{{ article.headline }}</a></li>
                  {% endfor %}
                </ul>
            </section>
        </aside>
    </div>
</div>
{% endblock %}
