{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>html</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/global.css' %}">

    </head>
    <body>
      <div class="container top-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'articles:home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'articles:stocks' %}">Stocks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'articles:authors' %}">Authors</a>
            </li>
          </ul>
        </div>
         </nav>
       </div>

        {% block content %}{% endblock %}
    </body>
</html>
<script src="https://kit.fontawesome.com/ef018246f5.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
var stockstodisplay = []
var a = "{{stock_list}}";
var ticker = document.getElementById('ticker-row')


$(function () {
  $('[data-toggle="popover"]').popover()
})

if(a.length > 0){
    var stocks = JSON.parse('{{ stock_list | safe }}');
    console.log(stocks.length)
    if(stocks.length < 4){
      document.getElementById("refreshstocks").style.display = "none";
    }
    random_stocks(stocks);
    add_stocks(stockstodisplay)

    document.getElementById("refreshstocks").onclick = function() {
        document.getElementById('ticker-row').innerHTML = "";
        stockstodisplay = []
        random_stocks(stocks);
        add_stocks(stockstodisplay)
    }
    document.getElementById("formarea").style.display = "none";
    document.getElementById("showcomment").onclick = function() {
        document.getElementById("formarea").style.display = "";
        document.getElementById("showcomment").style.display = "none";
  }
}


// This function is for prevent lap over that the original random did
function shuffle(a) {
    for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [a[i], a[j]] = [a[j], a[i]];
    }
    return a;
}

function add_stocks(items){
  for (i = 0; i < items.length; i++) {
    ticker.innerHTML += '<div class="list-group list-group-flush"><div href="#" class="list-group-item"><div class="d-flex w-100 justify-content-between"><h5 class="mb-1">' + items[i].company_name + '</h5><small>Current Price: $' + items[i].currentpriceamount + '</small></div><p class="mb-1 exchange">' + items[i].exchange_name +':'+ items[i].symbol +'</p><small>Price Change Amount: $'+ items[i].changeamount + '</small><small>Price Change Percentage: ('+ items[i].changepercent + '%)</small><div></div>'
  }
}

function random_stocks(items){
  items = shuffle(items)
  if(items.length < 3){
    for (i = 0; i < items.length; i++) {
      stockstodisplay.push(items[i])
    }
  }else{
    for (i = 0; i < 3; i++) {
      stockstodisplay.push(items[i])
    }
  }
  }

</script>
