{% extends "articles/base.html" %}

{% block content %}
<div class="container content-inner">
  <div class="card-deck">

  {% if latest_article_list %}
      {% for article in latest_article_list %}
        {% if forloop.first %}
    <div class="main-col">
      <div class="card mb-3" >
          <div class="row no-gutters">
            <div class="col-md-4">
              <a href="article.html">
                {% for image in article.images.all %}
                  {% if forloop.first %}
                  <img class="card-img" src="{{ image.url}}" alt="">
                    {% endif %}
                  {% endfor %}
              </a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title"><a href="{% url 'articles:article' article.uuid %}">{{ article.headline }}</a></h3>
                <p class="card-text"><small class="text-muted">{{article.byline}}| {{article.created}}</small></p>
                <p class="card-text">{{article.promo}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <section class="jumbo-card card">
            <div class="card-image">
                <a href="article.html">
                  {% for image in article.images.all %}
                    {% if forloop.first %}
                    <img class="img-responsive" style="width: 18rem; height: 10rem " src="{{ image.url}}" alt="">
                      {% endif %}
                    {% endfor %}
                </a>
            </div>
            <div class="card-elements">
                <div class="card-header">
                    <a href="article.html"><h3>Duis ut metus ac ligula fermentum laoreet nec sed orci.</h3></a>
                    <p class="author">Naeem Khan | November 18, 2017 </p>
                </div>
                <div class="card-copy">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>
            </div>
        </section> -->
    </div>
    {% else %}
        <div class="card" style="width: 18rem;">
            <div class="card-image">
                <a href="article.html">
                  {% for image in article.images.all %}
                    {% if forloop.first %}
                    <img style="width: 18rem; height: 10rem " src="{{ image.url}}" alt="">
                      {% endif %}
                    {% endfor %}
                </a>
            </div>

                <div class="card-elements">
                    <div class="card-header">
                        <a href="article.html">
                            <h4><a href="{% url 'articles:article' article.uuid %}">{{ article.headline }}</a></h4>
                        </a>
                        <p class="author">{{article.byline}}| {{article.created}}</p>
                    </div>
                    <div class="card-copy">
                        <p>{{article.promo}}</p>
                    </div>
                </div>
        </div>
      {% endif %}
    {% endfor %}
{% endif %}
</div>
</div>
{% endblock %}
