{% extends "articles/base.html" %}

{% block content %}
<div class="container content-inner">
  <div class="card-deck">

  {% if latest_article_list %}
      {% for article in latest_article_list %}
        {% if forloop.first %}
    <div class="main-col">
      <div class="card mb-3" >
          <div class="row no-gutters">
            <div class="col-md-4">
              <a href="{% url 'articles:article' article.uuid %}">
                {% for image in article.images.all %}
                  {% if forloop.first %}
                  <img class="card-img" src="{{ image.url}}" alt="">
                    {% endif %}
                  {% endfor %}
              </a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title"><a href="{% url 'articles:article' article.uuid %}">{{ article.headline }}</a></h3>
                <p class="card-text"><small class="text-muted">{{article.byline}}| {{article.created}}</small></p>
                <p class="card-text">{{article.promo}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% else %}
    <div class="card" style="width: 18rem;">
      <a  href="{% url 'articles:article' article.uuid %}">
        {% for image in article.images.all %}
          {% if forloop.first %}
          <img style="height: 15rem " class="card-img-top" src="{{ image.url}}" alt="">
            {% endif %}
          {% endfor %}
      </a>
      <div class="card-body">
        <h5 class="card-title"><a  href="{% url 'articles:article' article.uuid %}">{{ article.headline }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{article.byline}}| {{article.created}}</h6>
        <p class="card-text">{{article.promo}}</p>
      </div>
    </div>
      {% endif %}
    {% endfor %}
{% endif %}
</div>
</div>
{% endblock %}
