{% extends "articles/base.html" %}

{% block content %}
<div class="container article-content-inner">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">Symbol</th>
        <th scope="col">Sector</th>
        <th scope="col">Industry</th>
        <th scope="col">Website</th>
        <th scope="col">Revenue growth</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stocks %}
      <tr>
        <th scope="row"> {{stock.company_name}}</th>
        <td>{{stock.symbol}}</td>
        <td>{{stock.sector}}</td>
        <td>{{stock.industry}}</td>
        <td>{{stock.website}}</td>
        <td>{{stock.revenue_growth}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
